@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #f8f9fa;
    --color-surface: #ffffff;
    --color-surface-alt: #f1f3f5;
    --color-text-primary: #212529;
    --color-text-secondary: #6c757d;
    --color-border: #dee2e6;
    --color-primary: #007bff;
    --color-primary-hover: #0069d9;
    --color-primary-text: #ffffff;

    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  .dark {
    --color-background: #00111c; /* fundo principal (quase preto, mas azulado) */
    --color-surface: #001523; /* cards, barras, containers */
    --color-surface-alt: #001a2c; /* variação para contraste sutil */
    --color-border: #002137; /* linhas, divisores */

    --color-primary: #00406c; /* destaque (botões, links ativos) */
    --color-primary-hover: #003a61; /* hover do botão/link */

    --color-text-primary: #e0e0e0; /* texto padrão */
    --color-text-secondary: #a0a0a0; /* texto menos importante */

    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.3);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.4),
      0 2px 4px -2px rgb(0 0 0 / 0.4);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.45),
      0 4px 6px -4px rgb(0 0 0 / 0.45);
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #001523 inset !important;
    -webkit-text-fill-color: #e0e0e0 !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }

  input:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px #001523 inset !important;
    -webkit-text-fill-color: #e0e0e0 !important;
  }

  .modal-scroll::-webkit-scrollbar {
    width: 8px;
  }
  .modal-scroll::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 8px;
  }
  .modal-scroll::-webkit-scrollbar-track {
    background: #f3f4f6;
    border-radius: 8px;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
}
